@model CRUDAjaxDemo.ViewModels.LoginViewModel
@{
    ViewBag.Title = "ChangePasswordPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .form-box {
        position: relative !important;
        width: 400px !important;
        border: 2px solid rgba(255,255,2550.5);
        border-radius: 20px;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        flex-direction: column !important;
        padding: 10px !important;
        height: auto !important;
    }
</style>
<div class="form-box">
    <h2>Change Password</h2>
    @Html.HiddenFor(m=>m.UserId)
    <div class="passwordFields">
        <div class="input-box">
            <i class='bx bxs-lock-alt'></i>
            @Html.TextBox("Password", null, new { @placeholder = "Password" })
        </div>
        <div class="input-box">
            <i class='bx bxs-lock-alt'></i>
            @Html.TextBox("ConfirmPassword", null, new { @placeholder = "Confirm Password" })
        </div>
        <div class="group" style="padding-top:2em">
            <span>
                <input type="Change Password" class="btn btn-primary" value="Change Password" onclick="ChangePassword()">
            </span>
            <span>
                @Html.ActionLink("Log In", "Index", "Login", null, new { @class = "btn btn-info" })
            </span>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
    });

    function ChangePassword() {
        if ($("#Password").val() == undefined || $("#Password").val() == '') {
            toastr.error("Please enter Password");
            return;
        }

        if ($("#ConfirmPassword").val() == undefined || $("#ConfirmPassword").val() == '') {
            toastr.error("Please enter Confirm Password");
            return;
        }
        if ($("#Password").val() != $("#ConfirmPassword").val()) {
            toastr.error("Password and Confirm Password not same, Please enter correct values.");
            return;
        }

        var objChangePassword = new Object();
        objChangePassword.UserId = $("#UserId").val();
        objChangePassword.Password = $("#Password").val();
        var data = JSON.stringify({ objChangePassword: objChangePassword });
        $.ajax({
            url: "/Login/ChangePassword",
            type: "POST",
            data: data,
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                if (result.IsValid) {
                    toastr.success(result.ResultMessage);
                    setTimeout(
                        window.open(result.RedirectToUrl, "_self")
                        , 15000);
                }
                else {
                    toastr.error(result.ResultMessage)
                }
            },
            error: function (errormessage) {
                toastr.error("Error");
            }
        });
    }

</script>